<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/images/Logo.jpg">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<dom-module id="visor-cuenta">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }

      .row{
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .listaCuentas, .listaMovimientos {
        width: 65%;
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #CBF1F5;
      }

      .acciones {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
      }

      .btn-accion {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        background-color: #71C9CE !important;
        border: solid #71C9CE !important;
        font-size: 10px !important;
        color: black !important;
      }

      .titulo {
        font-size: 20px;
        text-align: center;
        font-family: Algerian;
      }

      .tiempo {
        position: absolute;
        top:20px;
        font-size: 10px;
        margin-left: 10px;
        background-color: #A6E3E9;
      }

      .info {
        margin-left: 10px;
        margin-right: 10px;
        font-style: italic;
      }

      .col-md-4, .col-md-3 {
        margin-left: 10px;
        margin-right: 10px;
      }

      .titInfo {
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
      }

      .datosEntrada {
        font-size: 10px;
      }
    </style>


    <div class="tiempo">
      <div class="titInfo"> TIEMPO EN MADRID HOY: [[description]] </div>
      <div class="info">Temperatura: [[temp]] ºC - Mínima: [[temp_min]] ºC - Máxima: [[temp_max]] ºC</div>
      <div class="info">Humedad: [[humidity]] %</div>
      <div class="info">Velocidad viento: [[speed]] Km/h</div>
      <div class="info">Presión: [[pressure]] hPa</div>
    </div>

    <button type="button" on-click="logout" class="btn btn-primary btn-accion"
      style="position:absolute; right:30px; top:20px;">Salir</button>
    <br></br>

    <div class="listaCuentas">
      <div class="titulo">Cuentas de [[first_name]] [[last_name]]</div>

      <div class="row">
        <div class="col-md-4" style="font-weight: bold;">CUENTA</div>
        <div class="col-md-3" style="font-weight: bold;">SALDO</div>
      </div>
      <template is="dom-repeat" items="{{accounts}}">
        <div class="row">
          <div class="col-md-4">
            <input type="radio" name="cuentaSel"
                          value = {{item.IBAN}} class="call-md-2">{{item.IBAN}}
          </div>
          <div class="col-md-3">{{item.balance}} €</div>
        </div>
      </template>
    </div>

    <div class="acciones">
      <div><button type="button" on-click="consulta" class="btn btn-primary btn-accion">Consulta movimientos</button></div>
      <div>
        <button type="button" on-click="ingreso" class="btn btn-primary btn-accion">Ingreso</button>
        <input class="datosEntrada" placeholder="Importe ingreso" type="number"
              value="{{impIngreso::input}}" required autofocus hidden$="{{!hayIngreso}}"/>
        <button type="button" on-click="aceptarIngreso" class="btn btn-primary btn-accion" hidden$="{{!hayIngreso}}">Aceptar</button>
      </div>
      <div>
        <button type="button" on-click="reintegro" class="btn btn-primary btn-accion">Reintegro</button>
        <input class="datosEntrada" placeholder="Importe reintegro" type="number"
              value="{{impReintegro::input}}" required autofocus hidden$="{{!hayReintegro}}"/>
        <button type="button" on-click="aceptarReintegro" class="btn btn-primary btn-accion" hidden$="{{!hayReintegro}}">Aceptar</button>
      </div>
      <div>
        <button type="button" on-click="altaContrato" class="btn btn-primary btn-accion">Alta cuenta</button>
      </div>
    </div>

    <div class="listaMovimientos" hidden$="{{!hayConsulta}}">
      <div class="titulo">Movimientos de la cuenta {{cuentaSelected}}</div>
      <div class="row">
        <div class="col-md-3" style="font-weight: bold;">IMPORTE</div>
        <div class="col-md-3" style="font-weight: bold;">FECHA</div>
        <div class="col-md-3" style="font-weight: bold;">CONCEPTO</div>
      </div>
      <template is="dom-repeat" items="{{movements}}">
        <div class="row">
          <div class="col-md-3">
            <span>{{item.impOper}} €</span>
          </div>
          <div class="col-md-3">
            <span>{{item.fecOper}}</span>
          </div>
          <div class="col-md-3">
            <span>{{item.concepto}}</span>
          </div>
        </div>
      </template>
   </div>

   <iron-ajax
     auto
     id="getWeather"
     url="http://api.openweathermap.org/data/2.5/weather?q=Madrid,es&APPID=ca4d63e111cec0811e8c23915d3060f5&units=metric&lang=es"
     handle-as="json"
     on-response="showWeather"
   >

    <iron-ajax
      id="getAccount"
      url="http://localhost:3000/proyecto2019/account/{{idUsuario}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/proyecto2019/users/{{idUsuario}}"
      handle-as="json"
      on-response="showDataUsuario"
      on-error="showErrorUsuario"
    >

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/proyecto2019/logout"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageLogout"
    >

    <iron-ajax
      id="doConsulta"
      url="http://localhost:3000/proyecto2019/movement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageConsulta"
      on-error="showErrorConsulta"
    >

    <iron-ajax
      id="doAltaContrato"
      url="http://localhost:3000/proyecto2019/altaContrato"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaContrato"
      on-error="showErrorAltaContrato"
    >

    <iron-ajax
      id="doIngreso"
      url="http://localhost:3000/proyecto2019/altaMovement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaMovement"
      on-error="showErrorAltaMovement"
    >

    <iron-ajax
      id="doReintegro"
      url="http://localhost:3000/proyecto2019/altaMovement"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAltaMovement"
      on-error="showErrorAltaMovement"
    >

  </template>

  <script>
    /** * @customElement  * @polymer */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          IBAN: {type: String},
          balance: {type: Number},
          idUsuario: {type: Number},
          accounts: {type: Array},
          cuentaSelected: {type: String ,value: ""},
          impOper: {type: Number},
          fecOper: {type: String},
          concepto: {type: String},
          movements: {type: Array},
          hayIngreso: {type: Boolean, value: false},
          impIngreso: {type: Number},
          hayReintegro: {type: Boolean, value: false},
          impReintegro: {type: Number},
          hayConsulta: {type: Boolean, value: false},
          description: {type: String},
          temp: {type: Number},
          temp_min: {type: Number},
          temp_max: {type: Number},
          humidity: {type: Number},
          speed: {type: Number},
          pressure: {type: Number},
          first_name: {type: String},
          last_name: {type: String}
        };
      }

      showWeather(data){
        this.description = data.detail.response.weather[0].description;
        this.temp = data.detail.response.main.temp;
        this.temp_min = data.detail.response.main.temp_min;
        this.temp_max = data.detail.response.main.temp_max;
        this.humidity = data.detail.response.main.humidity;
        this.speed = data.detail.response.wind.speed;
        this.pressure = data.detail.response.main.pressure;
      }

      showData(data){
        this.IBAN = data.detail.response[0].IBAN;
        this.idUsuario = data.detail.response[0].idUsuario;
        this.accounts = data.detail.response;
        for (var i = 0; i < data.detail.response.length; i++) {
          this.accounts[i].balance = data.detail.response[i].balance.toLocaleString('es-ES');
        };
      }

      showError(error) {
        var mensaje = " ";
        if (error.detail.request.status == 500) {
          mensaje = "Error obteniendo cuenta";
        } else {
          if (error.detail.request.status == 404) {
            mensaje = "Usuario sin cuentas";
          }
        }
        window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
      }

      showDataUsuario(data){
        if (data.detail.response.logged == true){
          this.first_name = data.detail.response.first_name;
          this.last_name = data.detail.response.last_name;

          this.$.getAccount.params.idUsuario = this.idUsuario;
          this.$.getAccount.generateRequest();

        } else {
          window.alert("Usuario no conectado");
        }
      }

      showErrorUsuario(error) {
        var mensaje = " ";
        if (error.detail.request.status == 500) {
          mensaje = "Error al acceder al usuario";
        } else {
          if (error.detail.request.status == 404) {
            mensaje = "Usuario no encontrado";
          }
        }
        window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
      }

      logout() {
        var logoutData = {
          "id" : this.idUsuario
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }

      manageLogout(){
        window.location = "/";
      }


      consulta(){
        var radios = this.shadowRoot.querySelectorAll('.call-md-2');
        var seleccionado = false;
        for (var i = 0; i<radios.length;i++){
          if (radios[i].checked){
            var ibanselected = radios[i].value;
            seleccionado = true;
          }
        }

        if (!seleccionado){
          window.alert("Debe seleccionar una cuenta");
        } else {
          this.hayConsulta = true;
          this.cuentaSelected = ibanselected;

          var consultaData = {
            "IBAN" : ibanselected
          };

          this.$.doConsulta.body = JSON.stringify(consultaData);
          this.$.doConsulta.generateRequest();
        }
      }

      manageConsulta(data){
        this.fecOper = data.detail.response[0].fecOper;
        this.concepto = data.detail.response[0].concepto;
        this.movements = data.detail.response;

        for (var i=0; i < data.detail.response.length; i++) {
         this.movements[i].impOper = data.detail.response[i].impOper.toLocaleString('es-ES');
        }
      }

      showErrorConsulta(error) {
        var mensaje = " ";
        if (error.detail.request.status == 500) {
          mensaje = "Error obteniendo movimientos de la cuenta";
        } else {
          if (error.detail.request.status == 404) {
            mensaje = "Cuenta sin movimientos";
          }
        }
        window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
      }

      ingreso(){
        this.hayIngreso = true;
      }

      aceptarIngreso() {
        if (this.impIngreso == undefined) {
          window.alert("Debe informar el importe");
        } else {
          var radios = this.shadowRoot.querySelectorAll('.call-md-2');
          var seleccionado = false;
          for (var i = 0; i<radios.length;i++) {
            if (radios[i].checked){
              var ibanselected = radios[i].value;
              seleccionado = true;
            }
          }

          if (!seleccionado){
            window.alert("Debe seleccionar una cuenta");
          } else {
            this.cuentaSelected = ibanselected;
            var conIngreso = "Ingreso";
            var ingresoData = {
              "IBAN" : this.cuentaSelected,
              "impOper" : this.impIngreso,
              "concepto" : conIngreso
            };

            this.$.doIngreso.body = JSON.stringify(ingresoData);
            this.$.doIngreso.generateRequest();
          }
        }
      }

      manageAltaMovement(){
        window.location = this.idUsuario;
      }

      showErrorAltaMovement(error) {
        window.alert("Error al hacer la operación solicitada");
      }

      reintegro(){
        this.hayReintegro = true;
      }

      aceptarReintegro() {
        if (this.impReintegro == undefined) {
          window.alert("Debe informar el importe");
        } else {
          var radios = this.shadowRoot.querySelectorAll('.call-md-2');
          var seleccionado = false;
          for (var i = 0; i<radios.length;i++){
            if (radios[i].checked){
              var ibanselected = radios[i].value;
              seleccionado = true;
            }
          }

          if (!seleccionado){
            window.alert("Debe seleccionar una cuenta");
          } else {
            this.cuentaSelected = ibanselected;
            var conReintegro = "Reintegro";
            var reintegroData = {
              "IBAN" : this.cuentaSelected,
              "impOper" : this.impReintegro,
              "concepto" : conReintegro
            };

            this.$.doReintegro.body = JSON.stringify(reintegroData);
            this.$.doReintegro.generateRequest();
          }
        }
      }


      altaContrato() {
        var altaData = {
          "idUsuario" : this.idUsuario
        };

        this.$.doAltaContrato.body = JSON.stringify(altaData);
        this.$.doAltaContrato.generateRequest();
      }

      showErrorAltaContrato(error) {
        var mensaje = " ";
        if (error.detail.request.status == 500) {
          mensaje = "Error al acceder al usuario";
        } else {
          if (error.detail.request.status == 401) {
            mensaje = "Usuario no conectado";
          } else {
            if (error.detail.request.status == 404) {
              mensaje = "Usuario no encontrado";
            }
          }
        }
        window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
      }

      manageAltaContrato(){
        window.location = this.idUsuario;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
