<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      :host {
        display: block;
       }

       .alert {
         margin: auto;
         text-align: center;
       }

       .btn-accion {
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 10px;
         background-color: #71C9CE !important;
         border: solid #71C9CE !important;
         font-size: 10px !important;
         color: black !important;
       }

       .datosEntrada {
         font-size: 10px;
         margin-top: 10px;
       }

       .divLogin {
         width: 40%;
         font-size: 10px;
         margin-left: auto;
         margin-right: auto;
         background-color: #CBF1F5;
         text-align: center;
       }
    </style>

    <br></br>
    <div class="divLogin">
      <div><input class="datosEntrada" placeholder="email" type="email" required value="{{email::input}}" /></div>
      <div><input class="datosEntrada" placeholder="password" required type="password" value="{{password::input}}" /></div>
      <div>
        <button on-click="login" class="btn btn-primary btn-accion">Entrar</button>
        <button on-click="altaUsuario" class="btn btn-primary btn-accion">Hazte cliente</button>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/proyecto2019/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
           email: {type: String} ,
           password: {type: String}
        };
      }

      login() {
        if (this.email == undefined) {
          window.alert("Debe informar email");
        } else {
          if (this.password == undefined) {
            window.alert("Debe informar la password");
          } else {
            var loginData = {
              "email" : this.email,
              "password" : this.password
            };

            this.$.doLogin.body = JSON.stringify(loginData);
            this.$.doLogin.generateRequest();
          }
        }
      }

      manageAJAXResponse(data){
        window.location = "account/" + data.detail.response.idUsuario;
      }

      showError(error) {
        var mensaje = " ";
        if (error.detail.request.status == 404) {
          mensaje = "Usuario no encontrado";
        } else {
          if (error.detail.request.status == 401) {
            mensaje = "Password incorrecta";
          }
        }
        window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
      }

      altaUsuario(){
        window.location = "/alta";
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
