<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      :host {
        display: block;
       }

        .btn-accion {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 10px;
          background-color: #71C9CE !important;
          border: solid #71C9CE !important;
          font-size: 10px !important;
          color: black !important;
        }

        .datosEntrada {
          font-size: 10px;
          margin-top: 10px;
        }

        .datosAlta {
          width: 40%;
          font-size: 10px;
          margin-left: auto;
          margin-right: auto;
          background-color: #CBF1F5;
          text-align: center;
        }

    </style>
    <br></br>
    <div class="datosAlta">
      <div>
        <input class="datosEntrada" placeholder="nombre" type="text" value="{{first_name::input}}" required autofocus/>
      </div>
      <div>
        <input class="datosEntrada" placeholder="apellidos" type="text" value="{{last_name::input}}" required/>
      </div>
      <div>
        <input class="datosEntrada" placeholder="email" type="text" value="{{email::input}}" required/>
      </div>
      <div>
        <input class="datosEntrada" placeholder="password" type="password" value="{{password::input}}" required/>
      </div>
      <div>
        <button on-click="aceptar" class="btn btn-primary btn-accion" >Aceptar</button>
        <button on-click="cancelar" class="btn btn-primary btn-accion">Cancelar</button>
      </div>    
    </div>

    <iron-ajax
      id="doAceptar"
      url="http://localhost:3000/proyecto2019/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >


  </template>

  <script>

    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
           first_name: {type: String} ,
           last_name: {type: String} ,
           email: {type: String} ,
           password: {type: String}
        };
      }

      aceptar() {
        if (this.first_name == undefined || this.last_name == undefined ||
            this.email == undefined || this.password == undefined) {
              window.alert("Debe informar todos los datos");
        } else {
          var altaData = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "email" : this.email,
            "password" : this.password
          };

          this.$.doAceptar.body = JSON.stringify(altaData);
          this.$.doAceptar.generateRequest();
        }
      }

      manageAJAXResponse(data){
        window.location = "account/" + data.detail.response.id;
      }

      showError(error) {
        var mensaje = " ";
        if (error.detail.request.status == 500) {
          mensaje = "Error acceso a la tabla de usuarios";
          window.alert("Status code: " + error.detail.request.status + " - " + mensaje);
        } else {
          mensaje = "Error al dar de alta el usuario";
          window.alert(mensaje);
        }
      }

      cancelar(){
        window.location = "/";
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
